body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

button {
  font-size: 14pt;
  padding: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
}

h1 {
  color: #333;
  text-align: center;
}
